body{
	margin: 0;
	height: 100vh;
	width: 100%;
	font-family: "Meiryo UI","メイリオ","Meiryo","Osaka",sans-serif;
}
header{
	position: fixed;
	top: 0;
	left: 0;
	background-color: #777;
	height: 80px;
	width: 100%;
	display: flex;
	align-items: center;
}
header > ul{
	height: 30px;
	margin: calc(40px - 15px) auto;
	padding: 0;
	text-align: center;
	display: flex;
}
header > ul > li{
	/* margin: 0 10px; */
	/* padding: 0 4px; */
	/* line-height: 80px; */
	/* display: inline-block; */
	list-style: none;
	height: 100%;
	font-weight: bold;
}
header > div{
	height: 30px;
	margin: calc(40px - 15px) auto;
	padding: 0;
	align-items: center;
	display: flex;
}
.button{
	font-weight: bold;
}
#button_hint{
	color: #000;
	background-color: #ff0;
	border-color: #000;
}
#button_undo{
	color: #000;
	background-color: #f0f;
	border-color: #000;
}
/* PC */
@media(min-width:751px){
	header > ul > li{
		margin-right: 30px;
		font-size: 30px;
	}
	.button{
		width: 80px;
		height: 60px;
		margin-right: 20px;
		font-size: 16px;
	}
}
/* スマホ */
@media(max-width:750px){
	header > ul > li{
		margin-right: 10px;
		font-size: 20px;
	}
	.button{
		height: 40px;
		width: 60px;
		margin-right: 10px;
		font-size: 12px;
	}
}
/* header > a{
	margin: 0;
	line-height: 80px;
	color: #000;
	padding-left: 20px;
	font-size: 30px;
	text-decoration: none;
} */
#header-back{
	height: 80px;
	width: 100%;
}
#canvas-box{
	width: 80%;
	max-width: 500px;
	margin: 10px auto;
}
#myCanvas{
	border: 1px solid #000;
	/* margin: 10px calc(10% - 1px); */
	width: 100%;
	/* max-width: 500px; */
}
/* button{
	padding: 10px 20px;
	position:fixed;
	top:0px;
	right:0px;
} */

footer{
	padding-bottom: 10px;
	border-top: solid 1px #d4d4d4;
	background-color: #ddd;
}
footer > ul{
	text-align: center;
	padding: 0;
}
footer > ul > li{
	padding: 0 4px;
	display: inline;
}
footer > p{
	text-align: center;
}

/* PC */
/* @media(min-width:751px){
	#contener{
		height: 100%;
		width: 100%;
		display: flex;
	}
	#main-content{
		height: 100%;
		width: 50%;
		overflow-y: scroll;
		background-color: #0f0;
	}
	#sub-content{
		color: blue;
		background-color: pink !important;
		height: 100%;
		width: 50%;
		overflow-y: scroll;
		background-color: #f00;
	}
	#text-content{
		display: none;
	}
} */
/* スマホ */
/* @media(max-width:750px){
	header > ul > li{
		/* margin: 0 10px;
		padding: 0 4px;
		line-height: 80px;
		display: inline-block;
		list-style: none;
		height: 100%; */
		/* font-size: 100% !important; */
		/* font-weight: bold;
	} */
	/* #contener{
		height: 90%;
		width: 100%;
		display: flex;
	}
	#main-content{
		height: 100%;
		width: 100%;
		overflow-y: scroll;
		background-color: #0f0;
	}
	#sub-content{
		background-color: aqua !important;
		display: none;
	}
	#text-content{
		position: fixed;
		background-color: #0cc;
		margin: 0;
		height: 10%;
		width: 100vw;
	}
	#text-content > h1{
		margin: 0;
	}
	#text-content > p{
		margin: 0;
	}
	#header-back{
		height: 10%;
		width: 100%;
	}
}*/